In [1]:
# import lib
import pandas as pd

In [3]:
# read data file
car_detail = pd.read_csv('car_detail_en.csv')
car_detail.head(1)

,ad_id,origin,condition,car_model,mileage,exterior_color,interior_color,num_of_doors,seating_capacity,engine,...,transmission,drive_type,fuel_consumption,describe,brand,grade,year_of_manufacture,car_name,price. price,url
0,17042,Domestic assembly,New car,Truck,0 Km,White,gray,2-door,2-seat,Petrol\t1.0 L,...,Manual,RFD - Rear-wheel drive,L/100Km,Super Carry Truck 5-pound mezzanine is equipp...,Suzuki,Super Carry Truck,2022.0,Suzuki Super Carry Truck 1.0 MT 2022,249 Million,https://bonbanh.com/xe-suzuki-super_carry_truc...

In [13]:
# get column describe
describe = car_detail['describe']
df_describe = pd.DataFrame(describe, columns=['describe'])
df_describe.head(2)

                                            describe
0   Super Carry Truck 5-pound mezzanine is equipp...
1  New Toyota LANDCRUISER 300, imported from Japa...

In [12]:
# save in to file describe.txt

with open('describe.txt', 'w', encoding = 'utf-8') as f:
    for index, row in df_describe.iterrows():
        if row['describe'] != '0':
            f.write(row['describe'] + '\n')

In [23]:
#check null-d
print('shape: ',df_describe.shape)
count_zero_rows = (df_describe['describe'] == '0').sum()
print("Null count: ", count_zero_rows)

shape:  (30652, 1)
Null count:  84